@model ReservaDeAulas.Models.Reserva


@{
    ViewBag.Title = "Create";
}

<h2>Crear reserva</h2>

<h2>Detalle de reserva</h2>

<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Fecha :
        </dt>

        <dd>
            @ViewBag.FechaDisponible
        </dd>

        <dt>
            Salon : 
        </dt>

        <dd>
            @ViewBag.Salon
        </dd>

        <dt>
            Bloque :
        </dt>

        <dd>
            @ViewBag.Bloque
        </dd>


        <dt>
            Descripcion :
        </dt>

        <dd>
             @ViewBag.Codigo
        </dd>

    </dl>
</div>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()


    <div class="form-horizontal">
        <h4>Reserva</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.IdDisponible, "IdDisponible", htmlAttributes: new { @class = "control-label col-md-2 hide" })
            <div class="col-md-10">
                @Html.DropDownList("IdDisponible", null, htmlAttributes: new { @class = "form-control hide" })
                @*@Html.Label("IdDisponible", (string)ViewBag.IdDisponible, htmlAttributes: new { @class = "control-label col-md-2" })*@
                
                @Html.ValidationMessageFor(model => model.IdDisponible, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index","Disponibles")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
