@model ReservaDeAulas.Models.Disponible

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Disponible</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aula.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aula.Descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdDisponible }) |
    @Html.ActionLink("Back to List", "Index")
</p>
